<div class="page-wrapper">
  <header class="page-header">
    <div class="header-row">
      <button *ngIf="showBackButton" class="back-btn" (click)="goBack()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <div class="header-content">
        <ng-content select="[page-header]"></ng-content>
      </div>
    </div>
  </header>

  <main class="page-content">
    <ng-content select="[page-content]"></ng-content>
  </main>

  <footer class="page-footer">
    <ng-content select="[page-footer]"></ng-content>
  </footer>
</div>