.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
  .page-header {

    .header-row {
      display: flex;
      align-items: center;
      gap: 12px;

      .back-btn {
        flex-shrink: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
      }

      .header-content {
        flex: 1;
      }
    }
  }

  .page-content {
    flex: 1;
    padding: 16px;
  }
}
